<%= javascript_include_tag 'jit-yc' %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js' %>
	<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js'%>

	<!--<%= javascript_include_tag 'jquery.tooltip','jquery.bgiframe.js','jquery.dimensions.js','chili-1.7.pack.js' %>
	-->
	<%= javascript_include_tag "example1" %>
	
<div id="rhs_nav_graph" >
<%=render :partial =>"partials/showgraph"%>
</div>